In [15]:
entry = dict()
entry['category'] = 'Jinny'
entry['item'] = '奶粉'
entry['amount'] = 299
entry['regular'] = bool(1)
entry

for k, v in entry.iteritems():
    print(entry[k])

Jinny
奶粉
299
True

In [21]:
columns = ['Date', 'Category', 'Item', 'Amount', 'Regular', 'Remark']
columns

['Date', 'Category', 'Item', 'Amount', 'Regular', 'Remark']

In [22]:
from datetime import date
import pandas as pd

In [54]:
records = []
records.append({'Date': date(2015,7,14), 'Category': 'Domestic', 'Item': 'rubbish bin', 'Amount': 255, 'Regular': bool(0), 'Remark': '友誠'})
records.append({'Date': date(2015,7,14), 'Category': 'Jinny', 'Item': '奶粉', 'Amount': 299, 'Regular': bool(1), 'Remark': 'Manning'})
records.append({'Date': date(2015,7,15), 'Category': 'Meal', 'Item': 'Lunch', 'Amount': 46, 'Regular': bool(1), 'Remark': '順景'})
records.append({'Date': date(2015,7,15), 'Category': 'Transport', 'Item': 'MTR', 'Amount': 26.5, 'Regular': bool(1), 'Remark': ''})

dictList = pd.DataFrame(data=records, columns=columns)

dictList

         Date   Category         Item  Amount Regular   Remark
0  2015-07-14   Domestic  rubbish bin   255.0   False       友誠
1  2015-07-14      Jinny           奶粉   299.0    True  Manning
2  2015-07-15       Meal        Lunch    46.0    True       順景
3  2015-07-15  Transport          MTR    26.5    True

In [49]:
dateList = [date(2015,7,13), date(2015,7,13), date(2015,7,14), date(2015,7,15), date(2015,7,17)]
categoryList = ['Domestic', 'Jinny', 'Cook', 'Jinny', 'Meal']
itemList = ['雜貨', '奶粉', 'Bread', 'Clothes', 'Dinner']
amountList = [255, 299, 13.5, 539.3, 195]
regularList = [bool(1), bool(1), bool(1), bool(0), bool(1)]
remarkList = ['友誠', 'Manning', 'ParkNShop', '', 'KFC']

maps = {'Date': dateList, 'Category': categoryList, 'Item': itemList, 'Amount': amountList, 'Regular': regularList, 'Remark': remarkList}

df = pd.DataFrame(data=maps, columns=columns)

df[:10]

         Date  Category     Item  Amount Regular     Remark
0  2015-07-13  Domestic       雜貨   255.0    True         友誠
1  2015-07-13     Jinny       奶粉   299.0    True    Manning
2  2015-07-14      Cook    Bread    13.5    True  ParkNShop
3  2015-07-15     Jinny  Clothes   539.3   False
4  2015-07-17      Meal   Dinner   195.0    True        KFC