In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.519511 -0.011285  1.235034  0.411583
2013-01-02 -0.499825 -0.179669  0.026480  0.462504
2013-01-03  0.672538 -0.867848 -1.126781  1.739057
2013-01-04  1.977314  2.438676  0.363048  1.399639
2013-01-05  0.084318 -1.345160  0.524155  1.057504
2013-01-06  0.057159  0.502833  0.524239  0.336353